# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Django stuff
*.log
db.sqlite3
staticfiles/
media/
#Node Modules

node_modules/

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/
